<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>frames</key>
    <dict>
      <key>btn_nosound.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,0},{239,239}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{239,239}}</string>
        <key>sourceSize</key>
        <string>{239,239}</string>
      </dict>
      <key>btn_sound.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,239},{239,239}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{239,239}}</string>
        <key>sourceSize</key>
        <string>{239,239}</string>
      </dict>
    </dict>
    <key>metadata</key>
    <dict>
      <key>format</key>
      <integer>2</integer>
      <key>pixelFormat</key>
      <string>RGBA8888</string>
      <key>premultiplyAlpha</key>
      <false/>
      <key>realTextureFileName</key>
      <string>sound_icon.png</string>
      <key>size</key>
      <string>{239,478}</string>
      <key>textureFileName</key>
      <string>sound_icon</string>
    </dict>
  </dict>
</plist>
