<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>frames</key>
    <dict>
      <key>main character_00.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,0},{242.5,264}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{242.5,264}}</string>
        <key>sourceSize</key>
        <string>{242.5,264}</string>
      </dict>
      <key>main character_01.png</key>
      <dict>
        <key>frame</key>
        <string>{{242.5,0},{242.5,264}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{242.5,264}}</string>
        <key>sourceSize</key>
        <string>{242.5,264}</string>
      </dict>
      <key>main character_02.png</key>
      <dict>
        <key>frame</key>
        <string>{{485,0},{242.5,264}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{242.5,264}}</string>
        <key>sourceSize</key>
        <string>{242.5,264}</string>
      </dict>
      <key>main character_03.png</key>
      <dict>
        <key>frame</key>
        <string>{{727.5,0},{242.5,264}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{242.5,264}}</string>
        <key>sourceSize</key>
        <string>{242.5,264}</string>
      </dict>
      <key>main character_04.png</key>
      <dict>
        <key>frame</key>
        <string>{{970,0},{242.5,264}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{242.5,264}}</string>
        <key>sourceSize</key>
        <string>{242.5,264}</string>
      </dict>
      <key>main character_05.png</key>
      <dict>
        <key>frame</key>
        <string>{{1212.5,0},{242.5,264}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{242.5,264}}</string>
        <key>sourceSize</key>
        <string>{242.5,264}</string>
      </dict>
      <key>main character_06.png</key>
      <dict>
        <key>frame</key>
        <string>{{1455,0},{242.5,264}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{242.5,264}}</string>
        <key>sourceSize</key>
        <string>{242.5,264}</string>
      </dict>
      <key>main character_07.png</key>
      <dict>
        <key>frame</key>
        <string>{{1697.5,0},{242.5,264}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{242.5,264}}</string>
        <key>sourceSize</key>
        <string>{242.5,264}</string>
      </dict>
      <key>main character_08.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,264},{242.5,264}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{242.5,264}}</string>
        <key>sourceSize</key>
        <string>{242.5,264}</string>
      </dict>
      <key>main character_09.png</key>
      <dict>
        <key>frame</key>
        <string>{{242.5,264},{242.5,264}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{242.5,264}}</string>
        <key>sourceSize</key>
        <string>{242.5,264}</string>
      </dict>
      <key>main character_10.png</key>
      <dict>
        <key>frame</key>
        <string>{{485,264},{242.5,264}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{242.5,264}}</string>
        <key>sourceSize</key>
        <string>{242.5,264}</string>
      </dict>
      <key>main character_11.png</key>
      <dict>
        <key>frame</key>
        <string>{{727.5,264},{242.5,264}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{242.5,264}}</string>
        <key>sourceSize</key>
        <string>{242.5,264}</string>
      </dict>
      <key>main character_12.png</key>
      <dict>
        <key>frame</key>
        <string>{{970,264},{242.5,264}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{242.5,264}}</string>
        <key>sourceSize</key>
        <string>{242.5,264}</string>
      </dict>
      <key>main character_13.png</key>
      <dict>
        <key>frame</key>
        <string>{{1212.5,264},{242.5,264}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{242.5,264}}</string>
        <key>sourceSize</key>
        <string>{242.5,264}</string>
      </dict>
      <key>main character_14.png</key>
      <dict>
        <key>frame</key>
        <string>{{1455,264},{242.5,264}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{242.5,264}}</string>
        <key>sourceSize</key>
        <string>{242.5,264}</string>
      </dict>
      <key>main character_15.png</key>
      <dict>
        <key>frame</key>
        <string>{{1697.5,264},{242.5,264}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{242.5,264}}</string>
        <key>sourceSize</key>
        <string>{242.5,264}</string>
      </dict>
      <key>main character_16.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,528},{242.5,264}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{242.5,264}}</string>
        <key>sourceSize</key>
        <string>{242.5,264}</string>
      </dict>
      <key>main character_17.png</key>
      <dict>
        <key>frame</key>
        <string>{{242.5,528},{242.5,264}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{242.5,264}}</string>
        <key>sourceSize</key>
        <string>{242.5,264}</string>
      </dict>
      <key>main character_18.png</key>
      <dict>
        <key>frame</key>
        <string>{{485,528},{242.5,264}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{242.5,264}}</string>
        <key>sourceSize</key>
        <string>{242.5,264}</string>
      </dict>
      <key>main character_19.png</key>
      <dict>
        <key>frame</key>
        <string>{{727.5,528},{242.5,264}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{242.5,264}}</string>
        <key>sourceSize</key>
        <string>{242.5,264}</string>
      </dict>
      <key>main character_20.png</key>
      <dict>
        <key>frame</key>
        <string>{{970,528},{242.5,264}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{242.5,264}}</string>
        <key>sourceSize</key>
        <string>{242.5,264}</string>
      </dict>
      <key>main character_21.png</key>
      <dict>
        <key>frame</key>
        <string>{{1212.5,528},{242.5,264}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{242.5,264}}</string>
        <key>sourceSize</key>
        <string>{242.5,264}</string>
      </dict>
      <key>main character_22.png</key>
      <dict>
        <key>frame</key>
        <string>{{1455,528},{242.5,264}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{242.5,264}}</string>
        <key>sourceSize</key>
        <string>{242.5,264}</string>
      </dict>
      <key>main character_23.png</key>
      <dict>
        <key>frame</key>
        <string>{{1697.5,528},{242.5,264}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{242.5,264}}</string>
        <key>sourceSize</key>
        <string>{242.5,264}</string>
      </dict>
    </dict>
    <key>metadata</key>
    <dict>
      <key>format</key>
      <integer>2</integer>
      <key>pixelFormat</key>
      <string>RGBA8888</string>
      <key>premultiplyAlpha</key>
      <false/>
      <key>realTextureFileName</key>
      <string>idle_bubble.png</string>
      <key>size</key>
      <string>{1940,792}</string>
      <key>textureFileName</key>
      <string>idle_bubble</string>
    </dict>
  </dict>
</plist>
