<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>Ceiling_In_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{34,54},{28,28}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,0},{28,28}}</string>
                <key>sourceSize</key>
                <string>{46,30}</string>
            </dict>
            <key>Ceiling_In_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,80},{20,26}}</string>
                <key>offset</key>
                <string>{-1,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{12,0},{20,26}}</string>
                <key>sourceSize</key>
                <string>{46,30}</string>
            </dict>
            <key>Ceiling_In_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{54,106},{18,24}}</string>
                <key>offset</key>
                <string>{0,3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{14,0},{18,24}}</string>
                <key>sourceSize</key>
                <string>{46,30}</string>
            </dict>
            <key>Ceiling_In_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{28,124},{20,22}}</string>
                <key>offset</key>
                <string>{0,4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{13,0},{20,22}}</string>
                <key>sourceSize</key>
                <string>{46,30}</string>
            </dict>
            <key>Ceiling_In_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{28,124},{20,22}}</string>
                <key>offset</key>
                <string>{0,4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{13,0},{20,22}}</string>
                <key>sourceSize</key>
                <string>{46,30}</string>
            </dict>
            <key>Ceiling_In_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{54,106},{18,24}}</string>
                <key>offset</key>
                <string>{0,3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{14,0},{18,24}}</string>
                <key>sourceSize</key>
                <string>{46,30}</string>
            </dict>
            <key>Ceiling_In_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{90,102},{18,24}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{14,1},{18,24}}</string>
                <key>sourceSize</key>
                <string>{46,30}</string>
            </dict>
            <key>Ceiling_Out_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{90,102},{18,24}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{14,1},{18,24}}</string>
                <key>sourceSize</key>
                <string>{46,30}</string>
            </dict>
            <key>Ceiling_Out_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{54,106},{18,24}}</string>
                <key>offset</key>
                <string>{0,3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{14,0},{18,24}}</string>
                <key>sourceSize</key>
                <string>{46,30}</string>
            </dict>
            <key>Ceiling_Out_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{28,124},{20,22}}</string>
                <key>offset</key>
                <string>{0,4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{13,0},{20,22}}</string>
                <key>sourceSize</key>
                <string>{46,30}</string>
            </dict>
            <key>Ceiling_Out_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{28,124},{20,22}}</string>
                <key>offset</key>
                <string>{0,4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{13,0},{20,22}}</string>
                <key>sourceSize</key>
                <string>{46,30}</string>
            </dict>
            <key>Ceiling_Out_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{54,106},{18,24}}</string>
                <key>offset</key>
                <string>{0,3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{14,0},{18,24}}</string>
                <key>sourceSize</key>
                <string>{46,30}</string>
            </dict>
            <key>Ceiling_Out_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,80},{20,26}}</string>
                <key>offset</key>
                <string>{-1,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{12,0},{20,26}}</string>
                <key>sourceSize</key>
                <string>{46,30}</string>
            </dict>
            <key>Ceiling_Out_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{34,54},{28,28}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,0},{28,28}}</string>
                <key>sourceSize</key>
                <string>{46,30}</string>
            </dict>
            <key>Flying_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{50,2},{46,24}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,3},{46,24}}</string>
                <key>sourceSize</key>
                <string>{46,30}</string>
            </dict>
            <key>Flying_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{46,24}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,4},{46,24}}</string>
                <key>sourceSize</key>
                <string>{46,30}</string>
            </dict>
            <key>Flying_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{48,28},{44,24}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,3},{44,24}}</string>
                <key>sourceSize</key>
                <string>{46,30}</string>
            </dict>
            <key>Flying_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{64,82},{22,24}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{12,2},{22,24}}</string>
                <key>sourceSize</key>
                <string>{46,30}</string>
            </dict>
            <key>Flying_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{64,82},{22,24}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{12,1},{22,24}}</string>
                <key>sourceSize</key>
                <string>{46,30}</string>
            </dict>
            <key>Flying_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{94,76},{24,24}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,2},{24,24}}</string>
                <key>sourceSize</key>
                <string>{46,30}</string>
            </dict>
            <key>Flying_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,28},{44,24}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,2},{44,24}}</string>
                <key>sourceSize</key>
                <string>{46,30}</string>
            </dict>
            <key>Hit_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{94,32},{32,22}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,4},{32,22}}</string>
                <key>sourceSize</key>
                <string>{46,30}</string>
            </dict>
            <key>Hit_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{94,32},{32,22}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,4},{32,22}}</string>
                <key>sourceSize</key>
                <string>{46,30}</string>
            </dict>
            <key>Hit_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,54},{30,24}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,3},{30,24}}</string>
                <key>sourceSize</key>
                <string>{46,30}</string>
            </dict>
            <key>Hit_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{64,54},{28,26}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,2},{28,26}}</string>
                <key>sourceSize</key>
                <string>{46,30}</string>
            </dict>
            <key>Hit_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{98,2},{28,28}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,1},{28,28}}</string>
                <key>sourceSize</key>
                <string>{46,30}</string>
            </dict>
            <key>Idle_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{94,56},{18,26}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{14,0},{18,26}}</string>
                <key>sourceSize</key>
                <string>{46,30}</string>
            </dict>
            <key>Idle_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,122},{18,24}}</string>
                <key>offset</key>
                <string>{1,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{15,1},{18,24}}</string>
                <key>sourceSize</key>
                <string>{46,30}</string>
            </dict>
            <key>Idle_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{28,104},{18,24}}</string>
                <key>offset</key>
                <string>{1,3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{15,0},{18,24}}</string>
                <key>sourceSize</key>
                <string>{46,30}</string>
            </dict>
            <key>Idle_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{28,104},{18,24}}</string>
                <key>offset</key>
                <string>{1,3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{15,0},{18,24}}</string>
                <key>sourceSize</key>
                <string>{46,30}</string>
            </dict>
            <key>Idle_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{28,104},{18,24}}</string>
                <key>offset</key>
                <string>{1,3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{15,0},{18,24}}</string>
                <key>sourceSize</key>
                <string>{46,30}</string>
            </dict>
            <key>Idle_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,122},{18,24}}</string>
                <key>offset</key>
                <string>{1,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{15,1},{18,24}}</string>
                <key>sourceSize</key>
                <string>{46,30}</string>
            </dict>
            <key>Idle_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{94,56},{18,26}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{14,0},{18,26}}</string>
                <key>sourceSize</key>
                <string>{46,30}</string>
            </dict>
            <key>Idle_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,102},{18,24}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{14,1},{18,24}}</string>
                <key>sourceSize</key>
                <string>{46,30}</string>
            </dict>
            <key>Idle_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{30,84},{18,24}}</string>
                <key>offset</key>
                <string>{0,3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{14,0},{18,24}}</string>
                <key>sourceSize</key>
                <string>{46,30}</string>
            </dict>
            <key>Idle_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{30,84},{18,24}}</string>
                <key>offset</key>
                <string>{0,3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{14,0},{18,24}}</string>
                <key>sourceSize</key>
                <string>{46,30}</string>
            </dict>
            <key>Idle_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{30,84},{18,24}}</string>
                <key>offset</key>
                <string>{0,3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{14,0},{18,24}}</string>
                <key>sourceSize</key>
                <string>{46,30}</string>
            </dict>
            <key>Idle_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,102},{18,24}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{14,1},{18,24}}</string>
                <key>sourceSize</key>
                <string>{46,30}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>bat.png</string>
            <key>size</key>
            <string>{128,256}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:af92174259d399ced46487472ba299d2$</string>
            <key>textureFileName</key>
            <string>bat.png</string>
        </dict>
    </dict>
</plist>
