<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>Attack-(44x42)_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{86,2},{28,38}}</string>
                <key>offset</key>
                <string>{5,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{13,4},{28,38}}</string>
                <key>sourceSize</key>
                <string>{44,42}</string>
            </dict>
            <key>Attack-(44x42)_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{28,42}}</string>
                <key>offset</key>
                <string>{7,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{15,0},{28,42}}</string>
                <key>sourceSize</key>
                <string>{44,42}</string>
            </dict>
            <key>Attack-(44x42)_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{28,42}}</string>
                <key>offset</key>
                <string>{7,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{15,0},{28,42}}</string>
                <key>sourceSize</key>
                <string>{44,42}</string>
            </dict>
            <key>Attack-(44x42)_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{46,2},{28,38}}</string>
                <key>offset</key>
                <string>{6,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{14,4},{28,38}}</string>
                <key>sourceSize</key>
                <string>{44,42}</string>
            </dict>
            <key>Attack-(44x42)_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{40,32},{34,32}}</string>
                <key>offset</key>
                <string>{-5,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,10},{34,32}}</string>
                <key>sourceSize</key>
                <string>{44,42}</string>
            </dict>
            <key>Attack-(44x42)_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{38,66},{32,32}}</string>
                <key>offset</key>
                <string>{-2,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,10},{32,32}}</string>
                <key>sourceSize</key>
                <string>{44,42}</string>
            </dict>
            <key>Attack-(44x42)_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{38,66},{32,32}}</string>
                <key>offset</key>
                <string>{-2,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,10},{32,32}}</string>
                <key>sourceSize</key>
                <string>{44,42}</string>
            </dict>
            <key>Attack-(44x42)_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{76,62},{28,34}}</string>
                <key>offset</key>
                <string>{1,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{9,8},{28,34}}</string>
                <key>sourceSize</key>
                <string>{44,42}</string>
            </dict>
            <key>Bullet.png</key>
            <dict>
                <key>frame</key>
                <string>{{112,32},{8,8}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,4},{8,8}}</string>
                <key>sourceSize</key>
                <string>{16,16}</string>
            </dict>
            <key>Idle-(44x42)_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,32},{28,36}}</string>
                <key>offset</key>
                <string>{3,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{11,6},{28,36}}</string>
                <key>sourceSize</key>
                <string>{44,42}</string>
            </dict>
            <key>Idle-(44x42)_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,32},{28,36}}</string>
                <key>offset</key>
                <string>{3,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{11,6},{28,36}}</string>
                <key>sourceSize</key>
                <string>{44,42}</string>
            </dict>
            <key>Idle-(44x42)_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,32},{28,36}}</string>
                <key>offset</key>
                <string>{3,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{11,6},{28,36}}</string>
                <key>sourceSize</key>
                <string>{44,42}</string>
            </dict>
            <key>Idle-(44x42)_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,32},{28,36}}</string>
                <key>offset</key>
                <string>{3,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{11,6},{28,36}}</string>
                <key>sourceSize</key>
                <string>{44,42}</string>
            </dict>
            <key>Idle-(44x42)_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,32},{28,36}}</string>
                <key>offset</key>
                <string>{3,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{11,6},{28,36}}</string>
                <key>sourceSize</key>
                <string>{44,42}</string>
            </dict>
            <key>Idle-(44x42)_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{76,32},{28,34}}</string>
                <key>offset</key>
                <string>{4,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{12,8},{28,34}}</string>
                <key>sourceSize</key>
                <string>{44,42}</string>
            </dict>
            <key>Idle-(44x42)_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{36,100},{28,32}}</string>
                <key>offset</key>
                <string>{5,-5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{13,10},{28,32}}</string>
                <key>sourceSize</key>
                <string>{44,42}</string>
            </dict>
            <key>Idle-(44x42)_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,94},{32,30}}</string>
                <key>offset</key>
                <string>{4,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,12},{32,30}}</string>
                <key>sourceSize</key>
                <string>{44,42}</string>
            </dict>
            <key>Idle-(44x42)_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,126},{30,30}}</string>
                <key>offset</key>
                <string>{3,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,12},{30,30}}</string>
                <key>sourceSize</key>
                <string>{44,42}</string>
            </dict>
            <key>Idle-(44x42)_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{72,92},{30,32}}</string>
                <key>offset</key>
                <string>{2,-5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{9,10},{30,32}}</string>
                <key>sourceSize</key>
                <string>{44,42}</string>
            </dict>
            <key>Idle-(44x42)_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,62},{30,34}}</string>
                <key>offset</key>
                <string>{2,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{9,8},{30,34}}</string>
                <key>sourceSize</key>
                <string>{44,42}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>plant.png</string>
            <key>size</key>
            <string>{128,256}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:7f5115d36f11c69a55d026d77d647457$</string>
            <key>textureFileName</key>
            <string>plant.png</string>
        </dict>
    </dict>
</plist>
