<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>Medium Ladder_00000.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{110,345}</string>
                <key>spriteSourceSize</key>
                <string>{110,345}</string>
                <key>textureRect</key>
                <string>{{0,0},{110,345}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Medium Ladder_00001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{110,345}</string>
                <key>spriteSourceSize</key>
                <string>{110,345}</string>
                <key>textureRect</key>
                <string>{{110,0},{110,345}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Medium Ladder_00002.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{110,345}</string>
                <key>spriteSourceSize</key>
                <string>{110,345}</string>
                <key>textureRect</key>
                <string>{{220,0},{110,345}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Medium Ladder_00003.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{110,345}</string>
                <key>spriteSourceSize</key>
                <string>{110,345}</string>
                <key>textureRect</key>
                <string>{{330,0},{110,345}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Medium Ladder_00004.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{110,345}</string>
                <key>spriteSourceSize</key>
                <string>{110,345}</string>
                <key>textureRect</key>
                <string>{{440,0},{110,345}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Medium Ladder_00005.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{110,345}</string>
                <key>spriteSourceSize</key>
                <string>{110,345}</string>
                <key>textureRect</key>
                <string>{{550,0},{110,345}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Medium Ladder_00006.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{110,345}</string>
                <key>spriteSourceSize</key>
                <string>{110,345}</string>
                <key>textureRect</key>
                <string>{{660,0},{110,345}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Medium Ladder_00007.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{110,345}</string>
                <key>spriteSourceSize</key>
                <string>{110,345}</string>
                <key>textureRect</key>
                <string>{{770,0},{110,345}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Medium Ladder_00008.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{110,345}</string>
                <key>spriteSourceSize</key>
                <string>{110,345}</string>
                <key>textureRect</key>
                <string>{{880,0},{110,345}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Medium Ladder_00009.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{110,345}</string>
                <key>spriteSourceSize</key>
                <string>{110,345}</string>
                <key>textureRect</key>
                <string>{{990,0},{110,345}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Medium Ladder_00010.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{110,345}</string>
                <key>spriteSourceSize</key>
                <string>{110,345}</string>
                <key>textureRect</key>
                <string>{{1100,0},{110,345}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Medium Ladder_00011.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{110,345}</string>
                <key>spriteSourceSize</key>
                <string>{110,345}</string>
                <key>textureRect</key>
                <string>{{1210,0},{110,345}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Medium Ladder_00012.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{110,345}</string>
                <key>spriteSourceSize</key>
                <string>{110,345}</string>
                <key>textureRect</key>
                <string>{{1320,0},{110,345}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Medium Ladder_00013.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{110,345}</string>
                <key>spriteSourceSize</key>
                <string>{110,345}</string>
                <key>textureRect</key>
                <string>{{0,345},{110,345}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Medium Ladder_00014.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{110,345}</string>
                <key>spriteSourceSize</key>
                <string>{110,345}</string>
                <key>textureRect</key>
                <string>{{110,345},{110,345}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Medium Ladder_00015.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{110,345}</string>
                <key>spriteSourceSize</key>
                <string>{110,345}</string>
                <key>textureRect</key>
                <string>{{220,345},{110,345}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Medium Ladder_00016.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{110,345}</string>
                <key>spriteSourceSize</key>
                <string>{110,345}</string>
                <key>textureRect</key>
                <string>{{330,345},{110,345}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Medium Ladder_00017.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{110,345}</string>
                <key>spriteSourceSize</key>
                <string>{110,345}</string>
                <key>textureRect</key>
                <string>{{440,345},{110,345}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Medium Ladder_00018.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{110,345}</string>
                <key>spriteSourceSize</key>
                <string>{110,345}</string>
                <key>textureRect</key>
                <string>{{550,345},{110,345}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Medium Ladder_00019.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{110,345}</string>
                <key>spriteSourceSize</key>
                <string>{110,345}</string>
                <key>textureRect</key>
                <string>{{660,345},{110,345}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Medium Ladder_00020.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{110,345}</string>
                <key>spriteSourceSize</key>
                <string>{110,345}</string>
                <key>textureRect</key>
                <string>{{770,345},{110,345}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Medium Ladder_00021.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{110,345}</string>
                <key>spriteSourceSize</key>
                <string>{110,345}</string>
                <key>textureRect</key>
                <string>{{880,345},{110,345}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Medium Ladder_00022.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{110,345}</string>
                <key>spriteSourceSize</key>
                <string>{110,345}</string>
                <key>textureRect</key>
                <string>{{990,345},{110,345}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Medium Ladder_00023.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{110,345}</string>
                <key>spriteSourceSize</key>
                <string>{110,345}</string>
                <key>textureRect</key>
                <string>{{1100,345},{110,345}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Medium Ladder_00024.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{110,345}</string>
                <key>spriteSourceSize</key>
                <string>{110,345}</string>
                <key>textureRect</key>
                <string>{{1210,345},{110,345}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Medium Ladder_00025.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{110,345}</string>
                <key>spriteSourceSize</key>
                <string>{110,345}</string>
                <key>textureRect</key>
                <string>{{1320,345},{110,345}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Medium Ladder_00026.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{110,345}</string>
                <key>spriteSourceSize</key>
                <string>{110,345}</string>
                <key>textureRect</key>
                <string>{{0,690},{110,345}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Medium Ladder_00027.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{110,345}</string>
                <key>spriteSourceSize</key>
                <string>{110,345}</string>
                <key>textureRect</key>
                <string>{{110,690},{110,345}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Medium Ladder_00028.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{110,345}</string>
                <key>spriteSourceSize</key>
                <string>{110,345}</string>
                <key>textureRect</key>
                <string>{{220,690},{110,345}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Medium Ladder_00029.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{110,345}</string>
                <key>spriteSourceSize</key>
                <string>{110,345}</string>
                <key>textureRect</key>
                <string>{{330,690},{110,345}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Medium Ladder_00030.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{110,345}</string>
                <key>spriteSourceSize</key>
                <string>{110,345}</string>
                <key>textureRect</key>
                <string>{{440,690},{110,345}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Medium Ladder_00031.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{110,345}</string>
                <key>spriteSourceSize</key>
                <string>{110,345}</string>
                <key>textureRect</key>
                <string>{{550,690},{110,345}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Medium Ladder_00032.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{110,345}</string>
                <key>spriteSourceSize</key>
                <string>{110,345}</string>
                <key>textureRect</key>
                <string>{{660,690},{110,345}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Medium Ladder_00033.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{110,345}</string>
                <key>spriteSourceSize</key>
                <string>{110,345}</string>
                <key>textureRect</key>
                <string>{{770,690},{110,345}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Medium Ladder_00034.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{110,345}</string>
                <key>spriteSourceSize</key>
                <string>{110,345}</string>
                <key>textureRect</key>
                <string>{{880,690},{110,345}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Medium Ladder_00035.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{110,345}</string>
                <key>spriteSourceSize</key>
                <string>{110,345}</string>
                <key>textureRect</key>
                <string>{{990,690},{110,345}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Medium Ladder_00036.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{110,345}</string>
                <key>spriteSourceSize</key>
                <string>{110,345}</string>
                <key>textureRect</key>
                <string>{{1100,690},{110,345}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Medium Ladder_00037.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{110,345}</string>
                <key>spriteSourceSize</key>
                <string>{110,345}</string>
                <key>textureRect</key>
                <string>{{990,690},{110,345}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Medium Ladder_00038.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{110,345}</string>
                <key>spriteSourceSize</key>
                <string>{110,345}</string>
                <key>textureRect</key>
                <string>{{880,690},{110,345}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Medium Ladder_00039.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{110,345}</string>
                <key>spriteSourceSize</key>
                <string>{110,345}</string>
                <key>textureRect</key>
                <string>{{770,690},{110,345}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Medium Ladder_00040.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{110,345}</string>
                <key>spriteSourceSize</key>
                <string>{110,345}</string>
                <key>textureRect</key>
                <string>{{660,690},{110,345}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Medium Ladder_00041.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{110,345}</string>
                <key>spriteSourceSize</key>
                <string>{110,345}</string>
                <key>textureRect</key>
                <string>{{550,690},{110,345}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Medium Ladder_00042.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{110,345}</string>
                <key>spriteSourceSize</key>
                <string>{110,345}</string>
                <key>textureRect</key>
                <string>{{440,690},{110,345}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Medium Ladder_00043.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{110,345}</string>
                <key>spriteSourceSize</key>
                <string>{110,345}</string>
                <key>textureRect</key>
                <string>{{330,690},{110,345}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Medium Ladder_00044.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{110,345}</string>
                <key>spriteSourceSize</key>
                <string>{110,345}</string>
                <key>textureRect</key>
                <string>{{220,690},{110,345}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Medium Ladder_00045.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{110,345}</string>
                <key>spriteSourceSize</key>
                <string>{110,345}</string>
                <key>textureRect</key>
                <string>{{110,690},{110,345}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Medium Ladder_00046.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{110,345}</string>
                <key>spriteSourceSize</key>
                <string>{110,345}</string>
                <key>textureRect</key>
                <string>{{0,690},{110,345}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Medium Ladder_00047.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{110,345}</string>
                <key>spriteSourceSize</key>
                <string>{110,345}</string>
                <key>textureRect</key>
                <string>{{1320,345},{110,345}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Medium Ladder_00048.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{110,345}</string>
                <key>spriteSourceSize</key>
                <string>{110,345}</string>
                <key>textureRect</key>
                <string>{{1210,345},{110,345}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Medium Ladder_00049.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{110,345}</string>
                <key>spriteSourceSize</key>
                <string>{110,345}</string>
                <key>textureRect</key>
                <string>{{1100,345},{110,345}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Medium Ladder_00050.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{110,345}</string>
                <key>spriteSourceSize</key>
                <string>{110,345}</string>
                <key>textureRect</key>
                <string>{{990,345},{110,345}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Medium Ladder_00051.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{110,345}</string>
                <key>spriteSourceSize</key>
                <string>{110,345}</string>
                <key>textureRect</key>
                <string>{{880,345},{110,345}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Medium Ladder_00052.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{110,345}</string>
                <key>spriteSourceSize</key>
                <string>{110,345}</string>
                <key>textureRect</key>
                <string>{{770,345},{110,345}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Medium Ladder_00053.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{110,345}</string>
                <key>spriteSourceSize</key>
                <string>{110,345}</string>
                <key>textureRect</key>
                <string>{{660,345},{110,345}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Medium Ladder_00054.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{110,345}</string>
                <key>spriteSourceSize</key>
                <string>{110,345}</string>
                <key>textureRect</key>
                <string>{{550,345},{110,345}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Medium Ladder_00055.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{110,345}</string>
                <key>spriteSourceSize</key>
                <string>{110,345}</string>
                <key>textureRect</key>
                <string>{{440,345},{110,345}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Medium Ladder_00056.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{110,345}</string>
                <key>spriteSourceSize</key>
                <string>{110,345}</string>
                <key>textureRect</key>
                <string>{{330,345},{110,345}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Medium Ladder_00057.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{110,345}</string>
                <key>spriteSourceSize</key>
                <string>{110,345}</string>
                <key>textureRect</key>
                <string>{{220,345},{110,345}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Medium Ladder_00058.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{110,345}</string>
                <key>spriteSourceSize</key>
                <string>{110,345}</string>
                <key>textureRect</key>
                <string>{{110,345},{110,345}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Medium Ladder_00059.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{110,345}</string>
                <key>spriteSourceSize</key>
                <string>{110,345}</string>
                <key>textureRect</key>
                <string>{{0,345},{110,345}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Medium Ladder_00060.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{110,345}</string>
                <key>spriteSourceSize</key>
                <string>{110,345}</string>
                <key>textureRect</key>
                <string>{{1320,0},{110,345}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Medium Ladder_00061.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{110,345}</string>
                <key>spriteSourceSize</key>
                <string>{110,345}</string>
                <key>textureRect</key>
                <string>{{1210,0},{110,345}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Medium Ladder_00062.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{110,345}</string>
                <key>spriteSourceSize</key>
                <string>{110,345}</string>
                <key>textureRect</key>
                <string>{{1100,0},{110,345}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Medium Ladder_00063.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{110,345}</string>
                <key>spriteSourceSize</key>
                <string>{110,345}</string>
                <key>textureRect</key>
                <string>{{990,0},{110,345}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Medium Ladder_00064.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{110,345}</string>
                <key>spriteSourceSize</key>
                <string>{110,345}</string>
                <key>textureRect</key>
                <string>{{880,0},{110,345}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Medium Ladder_00065.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{110,345}</string>
                <key>spriteSourceSize</key>
                <string>{110,345}</string>
                <key>textureRect</key>
                <string>{{770,0},{110,345}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Medium Ladder_00066.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{110,345}</string>
                <key>spriteSourceSize</key>
                <string>{110,345}</string>
                <key>textureRect</key>
                <string>{{660,0},{110,345}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Medium Ladder_00067.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{110,345}</string>
                <key>spriteSourceSize</key>
                <string>{110,345}</string>
                <key>textureRect</key>
                <string>{{550,0},{110,345}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Medium Ladder_00068.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{110,345}</string>
                <key>spriteSourceSize</key>
                <string>{110,345}</string>
                <key>textureRect</key>
                <string>{{440,0},{110,345}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Medium Ladder_00069.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{110,345}</string>
                <key>spriteSourceSize</key>
                <string>{110,345}</string>
                <key>textureRect</key>
                <string>{{330,0},{110,345}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Medium Ladder_00070.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{110,345}</string>
                <key>spriteSourceSize</key>
                <string>{110,345}</string>
                <key>textureRect</key>
                <string>{{220,0},{110,345}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Medium Ladder_00071.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{110,345}</string>
                <key>spriteSourceSize</key>
                <string>{110,345}</string>
                <key>textureRect</key>
                <string>{{110,0},{110,345}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Medium Ladder_00072.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{110,345}</string>
                <key>spriteSourceSize</key>
                <string>{110,345}</string>
                <key>textureRect</key>
                <string>{{0,0},{110,345}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Medium Ladder_00073.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{110,345}</string>
                <key>spriteSourceSize</key>
                <string>{110,345}</string>
                <key>textureRect</key>
                <string>{{0,0},{110,345}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Medium Ladder_00074.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{110,345}</string>
                <key>spriteSourceSize</key>
                <string>{110,345}</string>
                <key>textureRect</key>
                <string>{{0,0},{110,345}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Medium Ladder_00075.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{110,345}</string>
                <key>spriteSourceSize</key>
                <string>{110,345}</string>
                <key>textureRect</key>
                <string>{{0,0},{110,345}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Medium Ladder_00076.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{110,345}</string>
                <key>spriteSourceSize</key>
                <string>{110,345}</string>
                <key>textureRect</key>
                <string>{{0,0},{110,345}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Medium Ladder_00077.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{110,345}</string>
                <key>spriteSourceSize</key>
                <string>{110,345}</string>
                <key>textureRect</key>
                <string>{{0,0},{110,345}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>mediumladder.png</string>
            <key>size</key>
            <string>{1430,1035}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:aea6dff0d3d3b8271e95ad0a88caa4af:df291e638d8ed8b6bf6338156ef2c7ca:f788835e4e67bc41c4bfbb23bd8449f5$</string>
            <key>textureFileName</key>
            <string>mediumladder.png</string>
        </dict>
    </dict>
</plist>
