<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>Short Ladder_00000.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{150,300}</string>
                <key>spriteSourceSize</key>
                <string>{150,300}</string>
                <key>textureRect</key>
                <string>{{0,0},{150,300}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Short Ladder_00001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{150,300}</string>
                <key>spriteSourceSize</key>
                <string>{150,300}</string>
                <key>textureRect</key>
                <string>{{150,0},{150,300}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Short Ladder_00002.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{150,300}</string>
                <key>spriteSourceSize</key>
                <string>{150,300}</string>
                <key>textureRect</key>
                <string>{{300,0},{150,300}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Short Ladder_00003.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{150,300}</string>
                <key>spriteSourceSize</key>
                <string>{150,300}</string>
                <key>textureRect</key>
                <string>{{450,0},{150,300}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Short Ladder_00004.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{150,300}</string>
                <key>spriteSourceSize</key>
                <string>{150,300}</string>
                <key>textureRect</key>
                <string>{{600,0},{150,300}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Short Ladder_00005.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{150,300}</string>
                <key>spriteSourceSize</key>
                <string>{150,300}</string>
                <key>textureRect</key>
                <string>{{750,0},{150,300}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Short Ladder_00006.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{150,300}</string>
                <key>spriteSourceSize</key>
                <string>{150,300}</string>
                <key>textureRect</key>
                <string>{{900,0},{150,300}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Short Ladder_00007.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{150,300}</string>
                <key>spriteSourceSize</key>
                <string>{150,300}</string>
                <key>textureRect</key>
                <string>{{1050,0},{150,300}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Short Ladder_00008.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{150,300}</string>
                <key>spriteSourceSize</key>
                <string>{150,300}</string>
                <key>textureRect</key>
                <string>{{1200,0},{150,300}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Short Ladder_00009.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{150,300}</string>
                <key>spriteSourceSize</key>
                <string>{150,300}</string>
                <key>textureRect</key>
                <string>{{1350,0},{150,300}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Short Ladder_00010.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{150,300}</string>
                <key>spriteSourceSize</key>
                <string>{150,300}</string>
                <key>textureRect</key>
                <string>{{1500,0},{150,300}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Short Ladder_00011.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{150,300}</string>
                <key>spriteSourceSize</key>
                <string>{150,300}</string>
                <key>textureRect</key>
                <string>{{1650,0},{150,300}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Short Ladder_00012.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{150,300}</string>
                <key>spriteSourceSize</key>
                <string>{150,300}</string>
                <key>textureRect</key>
                <string>{{1800,0},{150,300}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Short Ladder_00013.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{150,300}</string>
                <key>spriteSourceSize</key>
                <string>{150,300}</string>
                <key>textureRect</key>
                <string>{{0,300},{150,300}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Short Ladder_00014.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{150,300}</string>
                <key>spriteSourceSize</key>
                <string>{150,300}</string>
                <key>textureRect</key>
                <string>{{150,300},{150,300}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Short Ladder_00015.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{150,300}</string>
                <key>spriteSourceSize</key>
                <string>{150,300}</string>
                <key>textureRect</key>
                <string>{{300,300},{150,300}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Short Ladder_00016.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{150,300}</string>
                <key>spriteSourceSize</key>
                <string>{150,300}</string>
                <key>textureRect</key>
                <string>{{450,300},{150,300}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Short Ladder_00017.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{150,300}</string>
                <key>spriteSourceSize</key>
                <string>{150,300}</string>
                <key>textureRect</key>
                <string>{{600,300},{150,300}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Short Ladder_00018.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{150,300}</string>
                <key>spriteSourceSize</key>
                <string>{150,300}</string>
                <key>textureRect</key>
                <string>{{750,300},{150,300}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Short Ladder_00019.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{150,300}</string>
                <key>spriteSourceSize</key>
                <string>{150,300}</string>
                <key>textureRect</key>
                <string>{{900,300},{150,300}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Short Ladder_00020.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{150,300}</string>
                <key>spriteSourceSize</key>
                <string>{150,300}</string>
                <key>textureRect</key>
                <string>{{1050,300},{150,300}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Short Ladder_00021.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{150,300}</string>
                <key>spriteSourceSize</key>
                <string>{150,300}</string>
                <key>textureRect</key>
                <string>{{1200,300},{150,300}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Short Ladder_00022.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{150,300}</string>
                <key>spriteSourceSize</key>
                <string>{150,300}</string>
                <key>textureRect</key>
                <string>{{1350,300},{150,300}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Short Ladder_00023.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{150,300}</string>
                <key>spriteSourceSize</key>
                <string>{150,300}</string>
                <key>textureRect</key>
                <string>{{1500,300},{150,300}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Short Ladder_00024.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{150,300}</string>
                <key>spriteSourceSize</key>
                <string>{150,300}</string>
                <key>textureRect</key>
                <string>{{1650,300},{150,300}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Short Ladder_00025.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{150,300}</string>
                <key>spriteSourceSize</key>
                <string>{150,300}</string>
                <key>textureRect</key>
                <string>{{1800,300},{150,300}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Short Ladder_00026.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{150,300}</string>
                <key>spriteSourceSize</key>
                <string>{150,300}</string>
                <key>textureRect</key>
                <string>{{0,600},{150,300}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Short Ladder_00027.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{150,300}</string>
                <key>spriteSourceSize</key>
                <string>{150,300}</string>
                <key>textureRect</key>
                <string>{{150,600},{150,300}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Short Ladder_00028.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{150,300}</string>
                <key>spriteSourceSize</key>
                <string>{150,300}</string>
                <key>textureRect</key>
                <string>{{300,600},{150,300}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Short Ladder_00029.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{150,300}</string>
                <key>spriteSourceSize</key>
                <string>{150,300}</string>
                <key>textureRect</key>
                <string>{{450,600},{150,300}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Short Ladder_00030.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{150,300}</string>
                <key>spriteSourceSize</key>
                <string>{150,300}</string>
                <key>textureRect</key>
                <string>{{600,600},{150,300}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Short Ladder_00031.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{150,300}</string>
                <key>spriteSourceSize</key>
                <string>{150,300}</string>
                <key>textureRect</key>
                <string>{{750,600},{150,300}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Short Ladder_00032.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{150,300}</string>
                <key>spriteSourceSize</key>
                <string>{150,300}</string>
                <key>textureRect</key>
                <string>{{900,600},{150,300}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Short Ladder_00033.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{150,300}</string>
                <key>spriteSourceSize</key>
                <string>{150,300}</string>
                <key>textureRect</key>
                <string>{{1050,600},{150,300}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Short Ladder_00034.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{150,300}</string>
                <key>spriteSourceSize</key>
                <string>{150,300}</string>
                <key>textureRect</key>
                <string>{{1200,600},{150,300}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Short Ladder_00035.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{150,300}</string>
                <key>spriteSourceSize</key>
                <string>{150,300}</string>
                <key>textureRect</key>
                <string>{{1350,600},{150,300}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Short Ladder_00036.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{150,300}</string>
                <key>spriteSourceSize</key>
                <string>{150,300}</string>
                <key>textureRect</key>
                <string>{{1500,600},{150,300}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Short Ladder_00037.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{150,300}</string>
                <key>spriteSourceSize</key>
                <string>{150,300}</string>
                <key>textureRect</key>
                <string>{{1350,600},{150,300}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Short Ladder_00038.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{150,300}</string>
                <key>spriteSourceSize</key>
                <string>{150,300}</string>
                <key>textureRect</key>
                <string>{{1200,600},{150,300}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Short Ladder_00039.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{150,300}</string>
                <key>spriteSourceSize</key>
                <string>{150,300}</string>
                <key>textureRect</key>
                <string>{{1050,600},{150,300}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Short Ladder_00040.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{150,300}</string>
                <key>spriteSourceSize</key>
                <string>{150,300}</string>
                <key>textureRect</key>
                <string>{{900,600},{150,300}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Short Ladder_00041.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{150,300}</string>
                <key>spriteSourceSize</key>
                <string>{150,300}</string>
                <key>textureRect</key>
                <string>{{750,600},{150,300}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Short Ladder_00042.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{150,300}</string>
                <key>spriteSourceSize</key>
                <string>{150,300}</string>
                <key>textureRect</key>
                <string>{{600,600},{150,300}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Short Ladder_00043.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{150,300}</string>
                <key>spriteSourceSize</key>
                <string>{150,300}</string>
                <key>textureRect</key>
                <string>{{450,600},{150,300}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Short Ladder_00044.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{150,300}</string>
                <key>spriteSourceSize</key>
                <string>{150,300}</string>
                <key>textureRect</key>
                <string>{{300,600},{150,300}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Short Ladder_00045.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{150,300}</string>
                <key>spriteSourceSize</key>
                <string>{150,300}</string>
                <key>textureRect</key>
                <string>{{150,600},{150,300}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Short Ladder_00046.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{150,300}</string>
                <key>spriteSourceSize</key>
                <string>{150,300}</string>
                <key>textureRect</key>
                <string>{{0,600},{150,300}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Short Ladder_00047.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{150,300}</string>
                <key>spriteSourceSize</key>
                <string>{150,300}</string>
                <key>textureRect</key>
                <string>{{1800,300},{150,300}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Short Ladder_00048.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{150,300}</string>
                <key>spriteSourceSize</key>
                <string>{150,300}</string>
                <key>textureRect</key>
                <string>{{1650,300},{150,300}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Short Ladder_00049.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{150,300}</string>
                <key>spriteSourceSize</key>
                <string>{150,300}</string>
                <key>textureRect</key>
                <string>{{1500,300},{150,300}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Short Ladder_00050.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{150,300}</string>
                <key>spriteSourceSize</key>
                <string>{150,300}</string>
                <key>textureRect</key>
                <string>{{1350,300},{150,300}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Short Ladder_00051.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{150,300}</string>
                <key>spriteSourceSize</key>
                <string>{150,300}</string>
                <key>textureRect</key>
                <string>{{1200,300},{150,300}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Short Ladder_00052.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{150,300}</string>
                <key>spriteSourceSize</key>
                <string>{150,300}</string>
                <key>textureRect</key>
                <string>{{1050,300},{150,300}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Short Ladder_00053.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{150,300}</string>
                <key>spriteSourceSize</key>
                <string>{150,300}</string>
                <key>textureRect</key>
                <string>{{900,300},{150,300}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Short Ladder_00054.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{150,300}</string>
                <key>spriteSourceSize</key>
                <string>{150,300}</string>
                <key>textureRect</key>
                <string>{{750,300},{150,300}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Short Ladder_00055.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{150,300}</string>
                <key>spriteSourceSize</key>
                <string>{150,300}</string>
                <key>textureRect</key>
                <string>{{600,300},{150,300}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Short Ladder_00056.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{150,300}</string>
                <key>spriteSourceSize</key>
                <string>{150,300}</string>
                <key>textureRect</key>
                <string>{{450,300},{150,300}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Short Ladder_00057.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{150,300}</string>
                <key>spriteSourceSize</key>
                <string>{150,300}</string>
                <key>textureRect</key>
                <string>{{300,300},{150,300}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Short Ladder_00058.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{150,300}</string>
                <key>spriteSourceSize</key>
                <string>{150,300}</string>
                <key>textureRect</key>
                <string>{{150,300},{150,300}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Short Ladder_00059.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{150,300}</string>
                <key>spriteSourceSize</key>
                <string>{150,300}</string>
                <key>textureRect</key>
                <string>{{0,300},{150,300}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Short Ladder_00060.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{150,300}</string>
                <key>spriteSourceSize</key>
                <string>{150,300}</string>
                <key>textureRect</key>
                <string>{{1800,0},{150,300}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Short Ladder_00061.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{150,300}</string>
                <key>spriteSourceSize</key>
                <string>{150,300}</string>
                <key>textureRect</key>
                <string>{{1650,0},{150,300}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Short Ladder_00062.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{150,300}</string>
                <key>spriteSourceSize</key>
                <string>{150,300}</string>
                <key>textureRect</key>
                <string>{{1500,0},{150,300}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Short Ladder_00063.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{150,300}</string>
                <key>spriteSourceSize</key>
                <string>{150,300}</string>
                <key>textureRect</key>
                <string>{{1350,0},{150,300}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Short Ladder_00064.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{150,300}</string>
                <key>spriteSourceSize</key>
                <string>{150,300}</string>
                <key>textureRect</key>
                <string>{{1200,0},{150,300}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Short Ladder_00065.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{150,300}</string>
                <key>spriteSourceSize</key>
                <string>{150,300}</string>
                <key>textureRect</key>
                <string>{{1050,0},{150,300}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Short Ladder_00066.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{150,300}</string>
                <key>spriteSourceSize</key>
                <string>{150,300}</string>
                <key>textureRect</key>
                <string>{{900,0},{150,300}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Short Ladder_00067.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{150,300}</string>
                <key>spriteSourceSize</key>
                <string>{150,300}</string>
                <key>textureRect</key>
                <string>{{750,0},{150,300}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Short Ladder_00068.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{150,300}</string>
                <key>spriteSourceSize</key>
                <string>{150,300}</string>
                <key>textureRect</key>
                <string>{{600,0},{150,300}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Short Ladder_00069.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{150,300}</string>
                <key>spriteSourceSize</key>
                <string>{150,300}</string>
                <key>textureRect</key>
                <string>{{450,0},{150,300}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Short Ladder_00070.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{150,300}</string>
                <key>spriteSourceSize</key>
                <string>{150,300}</string>
                <key>textureRect</key>
                <string>{{300,0},{150,300}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Short Ladder_00071.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{150,300}</string>
                <key>spriteSourceSize</key>
                <string>{150,300}</string>
                <key>textureRect</key>
                <string>{{150,0},{150,300}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>shortladder.png</string>
            <key>size</key>
            <string>{2048,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:b23fc9fc234ef61ea1c53a9d71dcc62c:9eb15356fc5eed3d9d2ea04cc0551ffe:767d32bb0f43e86caa5df8fa6ea2dddf$</string>
            <key>textureFileName</key>
            <string>shortladder.png</string>
        </dict>
    </dict>
</plist>
