<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>frames</key>
    <dict>
      <key>1.1.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,0},{113,502}}</string>
        <key>offset</key>
        <string>{1.5,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{201,5},{113,502}}</string>
        <key>sourceSize</key>
        <string>{512,512}</string>
      </dict>
      <key>1.png</key>
      <dict>
        <key>frame</key>
        <string>{{113,0},{68,500}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{222,6},{68,500}}</string>
        <key>sourceSize</key>
        <string>{512,512}</string>
      </dict>
      <key>anim_chicken_idle_4.png</key>
      <dict>
        <key>frame</key>
        <string>{{181,0},{402,309}}</string>
        <key>offset</key>
        <string>{1,-7}</string>
        <key>rotated</key>
        <true/>
        <key>sourceColorRect</key>
        <string>{{2,19},{402,309}}</string>
        <key>sourceSize</key>
        <string>{404,333}</string>
      </dict>
      <key>anim_chicken_idle_3.png</key>
      <dict>
        <key>frame</key>
        <string>{{490,0},{401,314}}</string>
        <key>offset</key>
        <string>{0.5,-9.5}</string>
        <key>rotated</key>
        <true/>
        <key>sourceColorRect</key>
        <string>{{2,19},{401,314}}</string>
        <key>sourceSize</key>
        <string>{404,333}</string>
      </dict>
      <key>anim_chicken_idle_5.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,502},{396,313}}</string>
        <key>offset</key>
        <string>{1,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{5,10},{396,313}}</string>
        <key>sourceSize</key>
        <string>{404,333}</string>
      </dict>
      <key>shield.png</key>
      <dict>
        <key>frame</key>
        <string>{{396,402},{396,393}}</string>
        <key>offset</key>
        <string>{0,0.5}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{2,3},{396,393}}</string>
        <key>sourceSize</key>
        <string>{400,400}</string>
      </dict>
      <key>anim_chicken_idle_2.png</key>
      <dict>
        <key>frame</key>
        <string>{{804,0},{392,319}}</string>
        <key>offset</key>
        <string>{1,-3}</string>
        <key>rotated</key>
        <true/>
        <key>sourceColorRect</key>
        <string>{{7,10},{392,319}}</string>
        <key>sourceSize</key>
        <string>{404,333}</string>
      </dict>
      <key>anim_chicken_idle_0.png</key>
      <dict>
        <key>frame</key>
        <string>{{792,401},{386,320}}</string>
        <key>offset</key>
        <string>{1,5.5}</string>
        <key>rotated</key>
        <true/>
        <key>sourceColorRect</key>
        <string>{{10,1},{386,320}}</string>
        <key>sourceSize</key>
        <string>{404,333}</string>
      </dict>
      <key>anim_chicken_idle_1.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,815},{384,323}}</string>
        <key>offset</key>
        <string>{1,4}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{11,1},{384,323}}</string>
        <key>sourceSize</key>
        <string>{404,333}</string>
      </dict>
      <key>anim_chicken_run_0.png</key>
      <dict>
        <key>frame</key>
        <string>{{384,815},{355,315}}</string>
        <key>offset</key>
        <string>{5,-1}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{14,5},{355,315}}</string>
        <key>sourceSize</key>
        <string>{373,323}</string>
      </dict>
      <key>anim_chicken_run_1.png</key>
      <dict>
        <key>frame</key>
        <string>{{739,795},{355,319}}</string>
        <key>offset</key>
        <string>{-2,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{7,2},{355,319}}</string>
        <key>sourceSize</key>
        <string>{373,323}</string>
      </dict>
      <key>anim_chicken_run_7.png</key>
      <dict>
        <key>frame</key>
        <string>{{1123,0},{354,309}}</string>
        <key>offset</key>
        <string>{9.5,-4}</string>
        <key>rotated</key>
        <true/>
        <key>sourceColorRect</key>
        <string>{{19,11},{354,309}}</string>
        <key>sourceSize</key>
        <string>{373,323}</string>
      </dict>
      <key>anim_chicken_run_6.png</key>
      <dict>
        <key>frame</key>
        <string>{{1123,354},{354,304}}</string>
        <key>offset</key>
        <string>{8.5,-6.5}</string>
        <key>rotated</key>
        <true/>
        <key>sourceColorRect</key>
        <string>{{18,16},{354,304}}</string>
        <key>sourceSize</key>
        <string>{373,323}</string>
      </dict>
      <key>anim_chicken_run_5.png</key>
      <dict>
        <key>frame</key>
        <string>{{1112,708},{354,309}}</string>
        <key>offset</key>
        <string>{2.5,-4}</string>
        <key>rotated</key>
        <true/>
        <key>sourceColorRect</key>
        <string>{{12,11},{354,309}}</string>
        <key>sourceSize</key>
        <string>{373,323}</string>
      </dict>
      <key>anim_chicken_run_4.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,1138},{354,314}}</string>
        <key>offset</key>
        <string>{-4.5,-0.5}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{5,5},{354,314}}</string>
        <key>sourceSize</key>
        <string>{373,323}</string>
      </dict>
      <key>anim_chicken_run_2.png</key>
      <dict>
        <key>frame</key>
        <string>{{384,1130},{354,322}}</string>
        <key>offset</key>
        <string>{-8.5,-0.5}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{1,1},{354,322}}</string>
        <key>sourceSize</key>
        <string>{373,323}</string>
      </dict>
      <key>anim_chicken_run_3.png</key>
      <dict>
        <key>frame</key>
        <string>{{738,1130},{353,319}}</string>
        <key>offset</key>
        <string>{-9,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{1,2},{353,319}}</string>
        <key>sourceSize</key>
        <string>{373,323}</string>
      </dict>
      <key>anim_bat_fly_5.png</key>
      <dict>
        <key>frame</key>
        <string>{{1094,1062},{268,87}}</string>
        <key>offset</key>
        <string>{0.5,-16}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{1,57},{268,87}}</string>
        <key>sourceSize</key>
        <string>{269,169}</string>
      </dict>
      <key>anim_bat_fly_4.png</key>
      <dict>
        <key>frame</key>
        <string>{{1091,1149},{268,109}}</string>
        <key>offset</key>
        <string>{0.5,-28}</string>
        <key>rotated</key>
        <true/>
        <key>sourceColorRect</key>
        <string>{{1,58},{268,109}}</string>
        <key>sourceSize</key>
        <string>{269,169}</string>
      </dict>
      <key>anim_bat_fly_3.png</key>
      <dict>
        <key>frame</key>
        <string>{{1200,1149},{267,94}}</string>
        <key>offset</key>
        <string>{0,-17.5}</string>
        <key>rotated</key>
        <true/>
        <key>sourceColorRect</key>
        <string>{{1,55},{267,94}}</string>
        <key>sourceSize</key>
        <string>{269,169}</string>
      </dict>
      <key>anim_bat_fly_2.png</key>
      <dict>
        <key>frame</key>
        <string>{{1294,1149},{266,93}}</string>
        <key>offset</key>
        <string>{-0.5,-12}</string>
        <key>rotated</key>
        <true/>
        <key>sourceColorRect</key>
        <string>{{1,50},{266,93}}</string>
        <key>sourceSize</key>
        <string>{269,169}</string>
      </dict>
      <key>anim_bat_fly_6.png</key>
      <dict>
        <key>frame</key>
        <string>{{1432,0},{266,87}}</string>
        <key>offset</key>
        <string>{-0.5,-2}</string>
        <key>rotated</key>
        <true/>
        <key>sourceColorRect</key>
        <string>{{1,43},{266,87}}</string>
        <key>sourceSize</key>
        <string>{269,169}</string>
      </dict>
      <key>anim_bat_fly_1.png</key>
      <dict>
        <key>frame</key>
        <string>{{1421,708},{265,97}}</string>
        <key>offset</key>
        <string>{-1,5}</string>
        <key>rotated</key>
        <true/>
        <key>sourceColorRect</key>
        <string>{{1,31},{265,97}}</string>
        <key>sourceSize</key>
        <string>{269,169}</string>
      </dict>
      <key>anim_bat_fly_0.png</key>
      <dict>
        <key>frame</key>
        <string>{{1387,1062},{265,119}}</string>
        <key>offset</key>
        <string>{-1,25}</string>
        <key>rotated</key>
        <true/>
        <key>sourceColorRect</key>
        <string>{{1,0},{265,119}}</string>
        <key>sourceSize</key>
        <string>{269,169}</string>
      </dict>
      <key>anim_bat_fly_7.png</key>
      <dict>
        <key>frame</key>
        <string>{{1427,354},{265,91}}</string>
        <key>offset</key>
        <string>{-1,11}</string>
        <key>rotated</key>
        <true/>
        <key>sourceColorRect</key>
        <string>{{1,28},{265,91}}</string>
        <key>sourceSize</key>
        <string>{269,169}</string>
      </dict>
      <key>button_gray.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,1452},{236,256}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <true/>
        <key>sourceColorRect</key>
        <string>{{10,0},{236,256}}</string>
        <key>sourceSize</key>
        <string>{256,256}</string>
      </dict>
      <key>home_icon.png</key>
      <dict>
        <key>frame</key>
        <string>{{256,1452},{236,256}}</string>
        <key>offset</key>
        <string>{10,0}</string>
        <key>rotated</key>
        <true/>
        <key>sourceColorRect</key>
        <string>{{20,0},{236,256}}</string>
        <key>sourceSize</key>
        <string>{256,256}</string>
      </dict>
      <key>anim_piranhaplant_idle_6.png</key>
      <dict>
        <key>frame</key>
        <string>{{1294,1415},{149,224}}</string>
        <key>offset</key>
        <string>{6.5,0.5}</string>
        <key>rotated</key>
        <true/>
        <key>sourceColorRect</key>
        <string>{{13,0},{149,224}}</string>
        <key>sourceSize</key>
        <string>{162,225}</string>
      </dict>
      <key>anim_piranhaplant_idle_2.png</key>
      <dict>
        <key>frame</key>
        <string>{{512,1452},{149,224}}</string>
        <key>offset</key>
        <string>{6.5,0.5}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{13,0},{149,224}}</string>
        <key>sourceSize</key>
        <string>{162,225}</string>
      </dict>
      <key>anim_piranhaplant_idle_3.png</key>
      <dict>
        <key>frame</key>
        <string>{{661,1452},{156,223}}</string>
        <key>offset</key>
        <string>{3,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{6,1},{156,223}}</string>
        <key>sourceSize</key>
        <string>{162,225}</string>
      </dict>
      <key>anim_piranhaplant_idle_1.png</key>
      <dict>
        <key>frame</key>
        <string>{{817,1449},{148,223}}</string>
        <key>offset</key>
        <string>{6,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{13,1},{148,223}}</string>
        <key>sourceSize</key>
        <string>{162,225}</string>
      </dict>
      <key>anim_piranhaplant_idle_7.png</key>
      <dict>
        <key>frame</key>
        <string>{{965,1449},{148,223}}</string>
        <key>offset</key>
        <string>{6,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{13,1},{148,223}}</string>
        <key>sourceSize</key>
        <string>{162,225}</string>
      </dict>
      <key>anim_piranhaplant_idle_4.png</key>
      <dict>
        <key>frame</key>
        <string>{{1113,1417},{160,223}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{1,1},{160,223}}</string>
        <key>sourceSize</key>
        <string>{162,225}</string>
      </dict>
      <key>anim_piranhaplant_idle_5.png</key>
      <dict>
        <key>frame</key>
        <string>{{1519,0},{156,223}}</string>
        <key>offset</key>
        <string>{3,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{6,1},{156,223}}</string>
        <key>sourceSize</key>
        <string>{162,225}</string>
      </dict>
      <key>anim_piranhaplant_idle_0.png</key>
      <dict>
        <key>frame</key>
        <string>{{1519,223},{147,221}}</string>
        <key>offset</key>
        <string>{6.5,-1}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{14,3},{147,221}}</string>
        <key>sourceSize</key>
        <string>{162,225}</string>
      </dict>
      <key>anim_plant_shoot_7.png</key>
      <dict>
        <key>frame</key>
        <string>{{1518,444},{143,184}}</string>
        <key>offset</key>
        <string>{7.5,-1}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{44,3},{143,184}}</string>
        <key>sourceSize</key>
        <string>{216,188}</string>
      </dict>
      <key>anim_plant_shoot_6.png</key>
      <dict>
        <key>frame</key>
        <string>{{1506,973},{161,180}}</string>
        <key>offset</key>
        <string>{16.5,-2}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{44,6},{161,180}}</string>
        <key>sourceSize</key>
        <string>{216,188}</string>
      </dict>
      <key>anim_plant_shoot_4.png</key>
      <dict>
        <key>frame</key>
        <string>{{1506,1153},{160,180}}</string>
        <key>offset</key>
        <string>{16,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{44,4},{160,180}}</string>
        <key>sourceSize</key>
        <string>{216,188}</string>
      </dict>
      <key>anim_plant_shoot_3.png</key>
      <dict>
        <key>frame</key>
        <string>{{1518,628},{137,180}}</string>
        <key>offset</key>
        <string>{2.5,4}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{42,0},{137,180}}</string>
        <key>sourceSize</key>
        <string>{216,188}</string>
      </dict>
      <key>anim_plant_shoot_0.png</key>
      <dict>
        <key>frame</key>
        <string>{{1518,1333},{126,179}}</string>
        <key>offset</key>
        <string>{-18,-3.5}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{27,8},{126,179}}</string>
        <key>sourceSize</key>
        <string>{216,188}</string>
      </dict>
      <key>anim_plant_idle_2.png</key>
      <dict>
        <key>frame</key>
        <string>{{1675,0},{127,178}}</string>
        <key>offset</key>
        <string>{0,-2}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{1,5},{127,178}}</string>
        <key>sourceSize</key>
        <string>{129,184}</string>
      </dict>
      <key>anim_plant_idle_1.png</key>
      <dict>
        <key>frame</key>
        <string>{{1675,178},{127,178}}</string>
        <key>offset</key>
        <string>{0,1}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{1,2},{127,178}}</string>
        <key>sourceSize</key>
        <string>{129,184}</string>
      </dict>
      <key>anim_plant_idle_0.png</key>
      <dict>
        <key>frame</key>
        <string>{{1667,356},{127,177}}</string>
        <key>offset</key>
        <string>{0,3.5}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{1,0},{127,177}}</string>
        <key>sourceSize</key>
        <string>{129,184}</string>
      </dict>
      <key>anim_plant_shoot_5.png</key>
      <dict>
        <key>frame</key>
        <string>{{1518,1512},{170,177}}</string>
        <key>offset</key>
        <string>{22,-3.5}</string>
        <key>rotated</key>
        <true/>
        <key>sourceColorRect</key>
        <string>{{45,9},{170,177}}</string>
        <key>sourceSize</key>
        <string>{216,188}</string>
      </dict>
      <key>anim_plant_idle_3.png</key>
      <dict>
        <key>frame</key>
        <string>{{1644,1333},{127,175}}</string>
        <key>offset</key>
        <string>{0,-3.5}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{1,8},{127,175}}</string>
        <key>sourceSize</key>
        <string>{129,184}</string>
      </dict>
      <key>anim_plant_idle_7.png</key>
      <dict>
        <key>frame</key>
        <string>{{1666,1153},{127,174}}</string>
        <key>offset</key>
        <string>{0,3}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{1,2},{127,174}}</string>
        <key>sourceSize</key>
        <string>{129,184}</string>
      </dict>
      <key>anim_plant_idle_6.png</key>
      <dict>
        <key>frame</key>
        <string>{{1667,533},{127,173}}</string>
        <key>offset</key>
        <string>{0,0.5}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{1,5},{127,173}}</string>
        <key>sourceSize</key>
        <string>{129,184}</string>
      </dict>
      <key>anim_plant_idle_4.png</key>
      <dict>
        <key>frame</key>
        <string>{{1667,706},{127,173}}</string>
        <key>offset</key>
        <string>{0,-4.5}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{1,10},{127,173}}</string>
        <key>sourceSize</key>
        <string>{129,184}</string>
      </dict>
      <key>anim_plant_idle_5.png</key>
      <dict>
        <key>frame</key>
        <string>{{1667,879},{127,172}}</string>
        <key>offset</key>
        <string>{0,-2}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{1,8},{127,172}}</string>
        <key>sourceSize</key>
        <string>{129,184}</string>
      </dict>
      <key>anim_plant_shoot_1.png</key>
      <dict>
        <key>frame</key>
        <string>{{1273,1564},{120,171}}</string>
        <key>offset</key>
        <string>{-35,-2.5}</string>
        <key>rotated</key>
        <true/>
        <key>sourceColorRect</key>
        <string>{{13,11},{120,171}}</string>
        <key>sourceSize</key>
        <string>{216,188}</string>
      </dict>
      <key>anim_plant_shoot_2.png</key>
      <dict>
        <key>frame</key>
        <string>{{1518,808},{130,160}}</string>
        <key>offset</key>
        <string>{-42,-5}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{1,19},{130,160}}</string>
        <key>sourceSize</key>
        <string>{216,188}</string>
      </dict>
      <key>replay_icon.png</key>
      <dict>
        <key>frame</key>
        <string>{{1113,1640},{160,149}}</string>
        <key>offset</key>
        <string>{-11,-2.5}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{37,56},{160,149}}</string>
        <key>sourceSize</key>
        <string>{256,256}</string>
      </dict>
      <key>sound_icon.png</key>
      <dict>
        <key>frame</key>
        <string>{{1444,1682},{156,154}}</string>
        <key>offset</key>
        <string>{-9,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{41,51},{156,154}}</string>
        <key>sourceSize</key>
        <string>{256,256}</string>
      </dict>
      <key>music_icon.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,1688},{152,148}}</string>
        <key>offset</key>
        <string>{-7,-3}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{45,57},{152,148}}</string>
        <key>sourceSize</key>
        <string>{256,256}</string>
      </dict>
      <key>box.png</key>
      <dict>
        <key>frame</key>
        <string>{{152,1688},{114,126}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{7,1},{114,126}}</string>
        <key>sourceSize</key>
        <string>{128,128}</string>
      </dict>
      <key>piranha_plant1.png</key>
      <dict>
        <key>frame</key>
        <string>{{181,402},{126,96}}</string>
        <key>offset</key>
        <string>{0,-4}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{1,20},{126,96}}</string>
        <key>sourceSize</key>
        <string>{128,128}</string>
      </dict>
      <key>trampoline.png</key>
      <dict>
        <key>frame</key>
        <string>{{1387,1333},{126,50}}</string>
        <key>offset</key>
        <string>{0,5}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{1,34},{126,50}}</string>
        <key>sourceSize</key>
        <string>{128,128}</string>
      </dict>
      <key>ananas.png</key>
      <dict>
        <key>frame</key>
        <string>{{266,1688},{114,125}}</string>
        <key>offset</key>
        <string>{0,-0.5}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{7,2},{114,125}}</string>
        <key>sourceSize</key>
        <string>{128,128}</string>
      </dict>
      <key>box2.png</key>
      <dict>
        <key>frame</key>
        <string>{{380,1688},{113,125}}</string>
        <key>offset</key>
        <string>{-4.5,-0.5}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{3,2},{113,125}}</string>
        <key>sourceSize</key>
        <string>{128,128}</string>
      </dict>
      <key>coin.png</key>
      <dict>
        <key>frame</key>
        <string>{{1667,1051},{125,101}}</string>
        <key>offset</key>
        <string>{0.5,0.5}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{2,13},{125,101}}</string>
        <key>sourceSize</key>
        <string>{128,128}</string>
      </dict>
      <key>saw.png</key>
      <dict>
        <key>frame</key>
        <string>{{493,1688},{120,124}}</string>
        <key>offset</key>
        <string>{1,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{5,2},{120,124}}</string>
        <key>sourceSize</key>
        <string>{128,128}</string>
      </dict>
      <key>melon.png</key>
      <dict>
        <key>frame</key>
        <string>{{1273,1684},{116,119}}</string>
        <key>offset</key>
        <string>{0,-0.5}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{6,5},{116,119}}</string>
        <key>sourceSize</key>
        <string>{128,128}</string>
      </dict>
      <key>Box1.png</key>
      <dict>
        <key>frame</key>
        <string>{{1695,1508},{113,89}}</string>
        <key>offset</key>
        <string>{-0.5,-18.5}</string>
        <key>rotated</key>
        <true/>
        <key>sourceColorRect</key>
        <string>{{7,38},{113,89}}</string>
        <key>sourceSize</key>
        <string>{128,128}</string>
      </dict>
      <key>stone.png</key>
      <dict>
        <key>frame</key>
        <string>{{613,1789},{46,56}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <true/>
        <key>sourceColorRect</key>
        <string>{{0,0},{46,56}}</string>
        <key>sourceSize</key>
        <string>{46,56}</string>
      </dict>
      <key>bubble.png</key>
      <dict>
        <key>frame</key>
        <string>{{669,1789},{40,40}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{40,40}}</string>
        <key>sourceSize</key>
        <string>{40,40}</string>
      </dict>
    </dict>
    <key>metadata</key>
    <dict>
      <key>format</key>
      <integer>2</integer>
      <key>pixelFormat</key>
      <string>RGBA8888</string>
      <key>premultiplyAlpha</key>
      <false/>
      <key>realTextureFileName</key>
      <string>skin2_asset.png</string>
      <key>size</key>
      <string>{1802,1836}</string>
      <key>textureFileName</key>
      <string>skin2_asset</string>
    </dict>
  </dict>
</plist>
