<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>1_00000.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,0}</string>
                <key>spriteSize</key>
                <string>{54,226}</string>
                <key>spriteSourceSize</key>
                <string>{100,250}</string>
                <key>textureRect</key>
                <string>{{355,1},{54,226}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>1_00001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,0}</string>
                <key>spriteSize</key>
                <string>{50,226}</string>
                <key>spriteSourceSize</key>
                <string>{100,250}</string>
                <key>textureRect</key>
                <string>{{577,1},{50,226}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>1_00002.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{50,226}</string>
                <key>spriteSourceSize</key>
                <string>{100,250}</string>
                <key>textureRect</key>
                <string>{{629,1},{50,226}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>1_00003.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,0}</string>
                <key>spriteSize</key>
                <string>{52,226}</string>
                <key>spriteSourceSize</key>
                <string>{100,250}</string>
                <key>textureRect</key>
                <string>{{523,1},{52,226}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>1_00004.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,0}</string>
                <key>spriteSize</key>
                <string>{54,226}</string>
                <key>spriteSourceSize</key>
                <string>{100,250}</string>
                <key>textureRect</key>
                <string>{{411,1},{54,226}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>1_00005.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,0}</string>
                <key>spriteSize</key>
                <string>{54,226}</string>
                <key>spriteSourceSize</key>
                <string>{100,250}</string>
                <key>textureRect</key>
                <string>{{467,1},{54,226}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>1_00006.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,0}</string>
                <key>spriteSize</key>
                <string>{56,226}</string>
                <key>spriteSourceSize</key>
                <string>{100,250}</string>
                <key>textureRect</key>
                <string>{{181,1},{56,226}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>1_00007.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,0}</string>
                <key>spriteSize</key>
                <string>{58,226}</string>
                <key>spriteSourceSize</key>
                <string>{100,250}</string>
                <key>textureRect</key>
                <string>{{1,1},{58,226}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>1_00008.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{58,226}</string>
                <key>spriteSourceSize</key>
                <string>{100,250}</string>
                <key>textureRect</key>
                <string>{{61,1},{58,226}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>1_00009.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{58,226}</string>
                <key>spriteSourceSize</key>
                <string>{100,250}</string>
                <key>textureRect</key>
                <string>{{121,1},{58,226}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>1_00010.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,0}</string>
                <key>spriteSize</key>
                <string>{56,226}</string>
                <key>spriteSourceSize</key>
                <string>{100,250}</string>
                <key>textureRect</key>
                <string>{{239,1},{56,226}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>1_00011.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,0}</string>
                <key>spriteSize</key>
                <string>{56,226}</string>
                <key>spriteSourceSize</key>
                <string>{100,250}</string>
                <key>textureRect</key>
                <string>{{297,1},{56,226}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>1_00012.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,0}</string>
                <key>spriteSize</key>
                <string>{54,226}</string>
                <key>spriteSourceSize</key>
                <string>{100,250}</string>
                <key>textureRect</key>
                <string>{{355,1},{54,226}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>1_00013.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,0}</string>
                <key>spriteSize</key>
                <string>{50,226}</string>
                <key>spriteSourceSize</key>
                <string>{100,250}</string>
                <key>textureRect</key>
                <string>{{577,1},{50,226}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>1_00014.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{50,226}</string>
                <key>spriteSourceSize</key>
                <string>{100,250}</string>
                <key>textureRect</key>
                <string>{{629,1},{50,226}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>1_00015.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,0}</string>
                <key>spriteSize</key>
                <string>{52,226}</string>
                <key>spriteSourceSize</key>
                <string>{100,250}</string>
                <key>textureRect</key>
                <string>{{523,1},{52,226}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>1_00016.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,0}</string>
                <key>spriteSize</key>
                <string>{54,226}</string>
                <key>spriteSourceSize</key>
                <string>{100,250}</string>
                <key>textureRect</key>
                <string>{{411,1},{54,226}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>1_00017.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,0}</string>
                <key>spriteSize</key>
                <string>{54,226}</string>
                <key>spriteSourceSize</key>
                <string>{100,250}</string>
                <key>textureRect</key>
                <string>{{467,1},{54,226}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>1_00018.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,0}</string>
                <key>spriteSize</key>
                <string>{56,226}</string>
                <key>spriteSourceSize</key>
                <string>{100,250}</string>
                <key>textureRect</key>
                <string>{{181,1},{56,226}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>1_00019.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,0}</string>
                <key>spriteSize</key>
                <string>{58,226}</string>
                <key>spriteSourceSize</key>
                <string>{100,250}</string>
                <key>textureRect</key>
                <string>{{1,1},{58,226}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>1_00020.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{58,226}</string>
                <key>spriteSourceSize</key>
                <string>{100,250}</string>
                <key>textureRect</key>
                <string>{{61,1},{58,226}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>1_00021.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{58,226}</string>
                <key>spriteSourceSize</key>
                <string>{100,250}</string>
                <key>textureRect</key>
                <string>{{121,1},{58,226}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>1_00022.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,0}</string>
                <key>spriteSize</key>
                <string>{56,226}</string>
                <key>spriteSourceSize</key>
                <string>{100,250}</string>
                <key>textureRect</key>
                <string>{{239,1},{56,226}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>1_00023.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,0}</string>
                <key>spriteSize</key>
                <string>{56,226}</string>
                <key>spriteSourceSize</key>
                <string>{100,250}</string>
                <key>textureRect</key>
                <string>{{297,1},{56,226}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>algae.png</string>
            <key>size</key>
            <string>{680,228}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:6b8550d135439683a94ff37d9516d909:adc048447a88225ace516a843d2255a9:9d352e0da175fc1ddd4029d3774e8fd6$</string>
            <key>textureFileName</key>
            <string>algae.png</string>
        </dict>
    </dict>
</plist>
