<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>frames</key>
    <dict>
      <key>anim_char_climb_03.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,0},{114,306}}</string>
        <key>offset</key>
        <string>{4.5,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{64,0},{114,306}}</string>
        <key>sourceSize</key>
        <string>{233,306}</string>
      </dict>
      <key>anim_char_climb_09.png</key>
      <dict>
        <key>frame</key>
        <string>{{114,0},{117,303}}</string>
        <key>offset</key>
        <string>{-7,-0.5}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{51,2},{117,303}}</string>
        <key>sourceSize</key>
        <string>{233,306}</string>
      </dict>
      <key>anim_char_climb_10.png</key>
      <dict>
        <key>frame</key>
        <string>{{231,0},{161,288}}</string>
        <key>offset</key>
        <string>{-7,-2}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{29,11},{161,288}}</string>
        <key>sourceSize</key>
        <string>{233,306}</string>
      </dict>
      <key>anim_char_climb_04.png</key>
      <dict>
        <key>frame</key>
        <string>{{231,288},{161,287}}</string>
        <key>offset</key>
        <string>{7,-1.5}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{43,11},{161,287}}</string>
        <key>sourceSize</key>
        <string>{233,306}</string>
      </dict>
      <key>anim_char_climb_02.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,306},{135,245}}</string>
        <key>offset</key>
        <string>{2,-29.5}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{51,60},{135,245}}</string>
        <key>sourceSize</key>
        <string>{233,306}</string>
      </dict>
      <key>anim_char_climb_08.png</key>
      <dict>
        <key>frame</key>
        <string>{{392,0},{137,241}}</string>
        <key>offset</key>
        <string>{-2,-29.5}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{46,62},{137,241}}</string>
        <key>sourceSize</key>
        <string>{233,306}</string>
      </dict>
      <key>anim_char_climb_11.png</key>
      <dict>
        <key>frame</key>
        <string>{{529,0},{182,237}}</string>
        <key>offset</key>
        <string>{12.5,-23.5}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{38,58},{182,237}}</string>
        <key>sourceSize</key>
        <string>{233,306}</string>
      </dict>
      <key>anim_char_climb_05.png</key>
      <dict>
        <key>frame</key>
        <string>{{392,241},{193,233}}</string>
        <key>offset</key>
        <string>{-7,-22.5}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{13,59},{193,233}}</string>
        <key>sourceSize</key>
        <string>{233,306}</string>
      </dict>
      <key>anim_char_climb_01.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,575},{177,203}}</string>
        <key>offset</key>
        <string>{7,-45.5}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{35,97},{177,203}}</string>
        <key>sourceSize</key>
        <string>{233,306}</string>
      </dict>
      <key>anim_char_climb_06.png</key>
      <dict>
        <key>frame</key>
        <string>{{177,575},{201,182}}</string>
        <key>offset</key>
        <string>{-15,-49}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{1,111},{201,182}}</string>
        <key>sourceSize</key>
        <string>{233,306}</string>
      </dict>
      <key>anim_char_climb_00.png</key>
      <dict>
        <key>frame</key>
        <string>{{378,575},{200,187}}</string>
        <key>offset</key>
        <string>{15.5,-49.5}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{32,109},{200,187}}</string>
        <key>sourceSize</key>
        <string>{233,306}</string>
      </dict>
      <key>anim_char_climb_07.png</key>
      <dict>
        <key>frame</key>
        <string>{{711,0},{179,198}}</string>
        <key>offset</key>
        <string>{-6,-45}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{21,99},{179,198}}</string>
        <key>sourceSize</key>
        <string>{233,306}</string>
      </dict>
    </dict>
    <key>metadata</key>
    <dict>
      <key>format</key>
      <integer>2</integer>
      <key>pixelFormat</key>
      <string>RGBA8888</string>
      <key>premultiplyAlpha</key>
      <false/>
      <key>realTextureFileName</key>
      <string>character_clim.png</string>
      <key>size</key>
      <string>{890,778}</string>
      <key>textureFileName</key>
      <string>character_clim</string>
    </dict>
  </dict>
</plist>
