<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>frames</key>
    <dict>
      <key>Image Sequence_001_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,0},{360,360}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{360,360}}</string>
        <key>sourceSize</key>
        <string>{360,360}</string>
      </dict>
      <key>Image Sequence_001_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{360,0},{360,360}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{360,360}}</string>
        <key>sourceSize</key>
        <string>{360,360}</string>
      </dict>
      <key>Image Sequence_001_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{720,0},{360,360}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{360,360}}</string>
        <key>sourceSize</key>
        <string>{360,360}</string>
      </dict>
      <key>Image Sequence_001_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{1080,0},{360,360}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{360,360}}</string>
        <key>sourceSize</key>
        <string>{360,360}</string>
      </dict>
      <key>Image Sequence_001_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{1440,0},{360,360}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{360,360}}</string>
        <key>sourceSize</key>
        <string>{360,360}</string>
      </dict>
      <key>Image Sequence_001_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,360},{360,360}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{360,360}}</string>
        <key>sourceSize</key>
        <string>{360,360}</string>
      </dict>
      <key>Image Sequence_001_0006.png</key>
      <dict>
        <key>frame</key>
        <string>{{360,360},{360,360}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{360,360}}</string>
        <key>sourceSize</key>
        <string>{360,360}</string>
      </dict>
      <key>Image Sequence_001_0007.png</key>
      <dict>
        <key>frame</key>
        <string>{{720,360},{360,360}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{360,360}}</string>
        <key>sourceSize</key>
        <string>{360,360}</string>
      </dict>
      <key>Image Sequence_001_0008.png</key>
      <dict>
        <key>frame</key>
        <string>{{1080,360},{360,360}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{360,360}}</string>
        <key>sourceSize</key>
        <string>{360,360}</string>
      </dict>
      <key>Image Sequence_001_0009.png</key>
      <dict>
        <key>frame</key>
        <string>{{1440,360},{360,360}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{360,360}}</string>
        <key>sourceSize</key>
        <string>{360,360}</string>
      </dict>
      <key>Image Sequence_001_0010.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,720},{360,360}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{360,360}}</string>
        <key>sourceSize</key>
        <string>{360,360}</string>
      </dict>
      <key>Image Sequence_001_0011.png</key>
      <dict>
        <key>frame</key>
        <string>{{360,720},{360,360}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{360,360}}</string>
        <key>sourceSize</key>
        <string>{360,360}</string>
      </dict>
      <key>Image Sequence_001_0012.png</key>
      <dict>
        <key>frame</key>
        <string>{{720,720},{360,360}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{360,360}}</string>
        <key>sourceSize</key>
        <string>{360,360}</string>
      </dict>
      <key>Image Sequence_001_0013.png</key>
      <dict>
        <key>frame</key>
        <string>{{1080,720},{360,360}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{360,360}}</string>
        <key>sourceSize</key>
        <string>{360,360}</string>
      </dict>
      <key>Image Sequence_001_0014.png</key>
      <dict>
        <key>frame</key>
        <string>{{1440,720},{360,360}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{360,360}}</string>
        <key>sourceSize</key>
        <string>{360,360}</string>
      </dict>
      <key>Image Sequence_001_0015.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,1080},{360,360}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{360,360}}</string>
        <key>sourceSize</key>
        <string>{360,360}</string>
      </dict>
      <key>Image Sequence_001_0016.png</key>
      <dict>
        <key>frame</key>
        <string>{{360,1080},{360,360}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{360,360}}</string>
        <key>sourceSize</key>
        <string>{360,360}</string>
      </dict>
      <key>Image Sequence_001_0017.png</key>
      <dict>
        <key>frame</key>
        <string>{{720,1080},{360,360}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{360,360}}</string>
        <key>sourceSize</key>
        <string>{360,360}</string>
      </dict>
      <key>Image Sequence_001_0018.png</key>
      <dict>
        <key>frame</key>
        <string>{{1080,1080},{360,360}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{360,360}}</string>
        <key>sourceSize</key>
        <string>{360,360}</string>
      </dict>
      <key>Image Sequence_001_0019.png</key>
      <dict>
        <key>frame</key>
        <string>{{1440,1080},{360,360}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{360,360}}</string>
        <key>sourceSize</key>
        <string>{360,360}</string>
      </dict>
      <key>Image Sequence_001_0020.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,1440},{360,360}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{360,360}}</string>
        <key>sourceSize</key>
        <string>{360,360}</string>
      </dict>
      <key>Image Sequence_001_0021.png</key>
      <dict>
        <key>frame</key>
        <string>{{360,1440},{360,360}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{360,360}}</string>
        <key>sourceSize</key>
        <string>{360,360}</string>
      </dict>
      <key>Image Sequence_001_0022.png</key>
      <dict>
        <key>frame</key>
        <string>{{720,1440},{360,360}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{360,360}}</string>
        <key>sourceSize</key>
        <string>{360,360}</string>
      </dict>
      <key>Image Sequence_001_0023.png</key>
      <dict>
        <key>frame</key>
        <string>{{1080,1440},{360,360}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{360,360}}</string>
        <key>sourceSize</key>
        <string>{360,360}</string>
      </dict>
    </dict>
    <key>metadata</key>
    <dict>
      <key>format</key>
      <integer>2</integer>
      <key>pixelFormat</key>
      <string>RGBA8888</string>
      <key>premultiplyAlpha</key>
      <false/>
      <key>realTextureFileName</key>
      <string>dayleo.png</string>
      <key>size</key>
      <string>{1800,1800}</string>
      <key>textureFileName</key>
      <string>dayleo</string>
    </dict>
  </dict>
</plist>
