<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>frames</key>
    <dict>
      <key>item2.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,0},{317,512}}</string>
        <key>offset</key>
        <string>{17.5,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{115,0},{317,512}}</string>
        <key>sourceSize</key>
        <string>{512,512}</string>
      </dict>
      <key>Item1.png</key>
      <dict>
        <key>frame</key>
        <string>{{317,0},{217,511}}</string>
        <key>offset</key>
        <string>{-12.5,0.5}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{135,0},{217,511}}</string>
        <key>sourceSize</key>
        <string>{512,512}</string>
      </dict>
      <key>trunk.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,512},{375,148}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{375,148}}</string>
        <key>sourceSize</key>
        <string>{375,148}</string>
      </dict>
      <key>anim_chicken_run_0.png</key>
      <dict>
        <key>frame</key>
        <string>{{534,0},{274,98}}</string>
        <key>offset</key>
        <string>{0,-18}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,37},{274,98}}</string>
        <key>sourceSize</key>
        <string>{274,136}</string>
      </dict>
      <key>anim_chicken_run_1.png</key>
      <dict>
        <key>frame</key>
        <string>{{534,98},{256,95}}</string>
        <key>offset</key>
        <string>{-1,-16.5}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{8,37},{256,95}}</string>
        <key>sourceSize</key>
        <string>{274,136}</string>
      </dict>
      <key>anim_chicken_run_7.png</key>
      <dict>
        <key>frame</key>
        <string>{{534,193},{254,100}}</string>
        <key>offset</key>
        <string>{2,-11}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{12,29},{254,100}}</string>
        <key>sourceSize</key>
        <string>{274,136}</string>
      </dict>
      <key>anim_plant_shoot_5.png</key>
      <dict>
        <key>frame</key>
        <string>{{375,511},{234,120}}</string>
        <key>offset</key>
        <string>{8.5,20.5}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{22,20},{234,120}}</string>
        <key>sourceSize</key>
        <string>{261,201}</string>
      </dict>
      <key>anim_chicken_run_2.png</key>
      <dict>
        <key>frame</key>
        <string>{{534,293},{218,108}}</string>
        <key>offset</key>
        <string>{-6,-5}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{22,19},{218,108}}</string>
        <key>sourceSize</key>
        <string>{274,136}</string>
      </dict>
      <key>anim_plant_shoot_4.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,660},{214,161}}</string>
        <key>offset</key>
        <string>{-23.5,9}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,11},{214,161}}</string>
        <key>sourceSize</key>
        <string>{261,201}</string>
      </dict>
      <key>anim_chicken_idle_4.png</key>
      <dict>
        <key>frame</key>
        <string>{{534,401},{209,98}}</string>
        <key>offset</key>
        <string>{-0.5,-0.5}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,2},{209,98}}</string>
        <key>sourceSize</key>
        <string>{210,101}</string>
      </dict>
      <key>anim_chicken_idle_3.png</key>
      <dict>
        <key>frame</key>
        <string>{{214,660},{209,100}}</string>
        <key>offset</key>
        <string>{-0.5,0.5}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{209,100}}</string>
        <key>sourceSize</key>
        <string>{210,101}</string>
      </dict>
      <key>anim_chicken_idle_2.png</key>
      <dict>
        <key>frame</key>
        <string>{{423,631},{209,98}}</string>
        <key>offset</key>
        <string>{-0.5,-0.5}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,2},{209,98}}</string>
        <key>sourceSize</key>
        <string>{210,101}</string>
      </dict>
      <key>anim_chicken_idle_1.png</key>
      <dict>
        <key>frame</key>
        <string>{{808,0},{207,94}}</string>
        <key>offset</key>
        <string>{-1.5,-1.5}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,5},{207,94}}</string>
        <key>sourceSize</key>
        <string>{210,101}</string>
      </dict>
      <key>anim_chicken_idle_0.png</key>
      <dict>
        <key>frame</key>
        <string>{{423,729},{207,92}}</string>
        <key>offset</key>
        <string>{-1.5,-2.5}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,7},{207,92}}</string>
        <key>sourceSize</key>
        <string>{210,101}</string>
      </dict>
      <key>anim_chicken_idle_5.png</key>
      <dict>
        <key>frame</key>
        <string>{{808,94},{207,94}}</string>
        <key>offset</key>
        <string>{-1.5,-1.5}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,5},{207,94}}</string>
        <key>sourceSize</key>
        <string>{210,101}</string>
      </dict>
      <key>anim_chicken_run_6.png</key>
      <dict>
        <key>frame</key>
        <string>{{609,499},{206,126}}</string>
        <key>offset</key>
        <string>{12,1}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{46,4},{206,126}}</string>
        <key>sourceSize</key>
        <string>{274,136}</string>
      </dict>
      <key>anim_plant_shoot_6.png</key>
      <dict>
        <key>frame</key>
        <string>{{815,188},{196,128}}</string>
        <key>offset</key>
        <string>{-12.5,21.5}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{20,15},{196,128}}</string>
        <key>sourceSize</key>
        <string>{261,201}</string>
      </dict>
      <key>anim_chicken_run_3.png</key>
      <dict>
        <key>frame</key>
        <string>{{815,316},{195,115}}</string>
        <key>offset</key>
        <string>{1.5,-1.5}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{41,12},{195,115}}</string>
        <key>sourceSize</key>
        <string>{274,136}</string>
      </dict>
      <key>anim_plant_shoot_3.png</key>
      <dict>
        <key>frame</key>
        <string>{{632,625},{112,191}}</string>
        <key>offset</key>
        <string>{-60.5,3}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{14,2},{112,191}}</string>
        <key>sourceSize</key>
        <string>{261,201}</string>
      </dict>
      <key>stalactite.png</key>
      <dict>
        <key>frame</key>
        <string>{{744,625},{170,191}}</string>
        <key>offset</key>
        <string>{-1,15.5}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{31,19},{170,191}}</string>
        <key>sourceSize</key>
        <string>{234,260}</string>
      </dict>
      <key>anim_chicken_run_5.png</key>
      <dict>
        <key>frame</key>
        <string>{{815,431},{180,126}}</string>
        <key>offset</key>
        <string>{11,1}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{58,4},{180,126}}</string>
        <key>sourceSize</key>
        <string>{274,136}</string>
      </dict>
      <key>anim_plant_shoot_2.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,821},{122,175}}</string>
        <key>offset</key>
        <string>{-66.5,-13}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{3,26},{122,175}}</string>
        <key>sourceSize</key>
        <string>{261,201}</string>
      </dict>
      <key>anim_chicken_run_4.png</key>
      <dict>
        <key>frame</key>
        <string>{{122,821},{158,131}}</string>
        <key>offset</key>
        <string>{13,2.5}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{71,0},{158,131}}</string>
        <key>sourceSize</key>
        <string>{274,136}</string>
      </dict>
      <key>anim_plant_shoot_1.png</key>
      <dict>
        <key>frame</key>
        <string>{{280,821},{107,157}}</string>
        <key>offset</key>
        <string>{-66,6}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{11,16},{107,157}}</string>
        <key>sourceSize</key>
        <string>{261,201}</string>
      </dict>
      <key>anim_plant_shoot_7.png</key>
      <dict>
        <key>frame</key>
        <string>{{387,821},{156,139}}</string>
        <key>offset</key>
        <string>{-34.5,21}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{18,10},{156,139}}</string>
        <key>sourceSize</key>
        <string>{261,201}</string>
      </dict>
      <key>bullet.png</key>
      <dict>
        <key>frame</key>
        <string>{{543,821},{144,150}}</string>
        <key>offset</key>
        <string>{0.5,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{49,31},{144,150}}</string>
        <key>sourceSize</key>
        <string>{241,212}</string>
      </dict>
      <key>anim_plant_idle_2.png</key>
      <dict>
        <key>frame</key>
        <string>{{687,816},{143,149}}</string>
        <key>offset</key>
        <string>{-0.5,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,1},{143,149}}</string>
        <key>sourceSize</key>
        <string>{144,151}</string>
      </dict>
      <key>anim_plant_idle_1.png</key>
      <dict>
        <key>frame</key>
        <string>{{830,816},{138,148}}</string>
        <key>offset</key>
        <string>{-2,-0.5}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{1,2},{138,148}}</string>
        <key>sourceSize</key>
        <string>{144,151}</string>
      </dict>
      <key>anim_plant_idle_3.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,996},{142,147}}</string>
        <key>offset</key>
        <string>{-1,-1}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,3},{142,147}}</string>
        <key>sourceSize</key>
        <string>{144,151}</string>
      </dict>
      <key>anim_bat_fly_1.png</key>
      <dict>
        <key>frame</key>
        <string>{{387,960},{147,89}}</string>
        <key>offset</key>
        <string>{1,-10.5}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{6,25},{147,89}}</string>
        <key>sourceSize</key>
        <string>{157,118}</string>
      </dict>
      <key>anim_plant_idle_0.png</key>
      <dict>
        <key>frame</key>
        <string>{{142,952},{131,145}}</string>
        <key>offset</key>
        <string>{-4.5,-3}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{2,6},{131,145}}</string>
        <key>sourceSize</key>
        <string>{144,151}</string>
      </dict>
      <key>anim_plant_idle_5.png</key>
      <dict>
        <key>frame</key>
        <string>{{534,971},{136,145}}</string>
        <key>offset</key>
        <string>{-4,-2}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,5},{136,145}}</string>
        <key>sourceSize</key>
        <string>{144,151}</string>
      </dict>
      <key>anim_plant_idle_4.png</key>
      <dict>
        <key>frame</key>
        <string>{{670,971},{140,144}}</string>
        <key>offset</key>
        <string>{-2,-1.5}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,5},{140,144}}</string>
        <key>sourceSize</key>
        <string>{144,151}</string>
      </dict>
      <key>anim_plant_shoot_0.png</key>
      <dict>
        <key>frame</key>
        <string>{{810,965},{131,144}}</string>
        <key>offset</key>
        <string>{-44,20.5}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{21,8},{131,144}}</string>
        <key>sourceSize</key>
        <string>{261,201}</string>
      </dict>
      <key>anim_plant_idle_6.png</key>
      <dict>
        <key>frame</key>
        <string>{{1015,0},{131,143}}</string>
        <key>offset</key>
        <string>{-6.5,-3}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,7},{131,143}}</string>
        <key>sourceSize</key>
        <string>{144,151}</string>
      </dict>
      <key>anim_plant_idle_7.png</key>
      <dict>
        <key>frame</key>
        <string>{{1015,143},{129,142}}</string>
        <key>offset</key>
        <string>{-6.5,-3.5}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{1,8},{129,142}}</string>
        <key>sourceSize</key>
        <string>{144,151}</string>
      </dict>
      <key>anim_piranhaplant_idle_4.png</key>
      <dict>
        <key>frame</key>
        <string>{{273,978},{114,138}}</string>
        <key>offset</key>
        <string>{-5.5,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{1,0},{114,138}}</string>
        <key>sourceSize</key>
        <string>{127,138}</string>
      </dict>
      <key>anim_piranhaplant_idle_5.png</key>
      <dict>
        <key>frame</key>
        <string>{{1011,285},{114,137}}</string>
        <key>offset</key>
        <string>{-4.5,-0.5}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{2,1},{114,137}}</string>
        <key>sourceSize</key>
        <string>{127,138}</string>
      </dict>
      <key>anim_piranhaplant_idle_3.png</key>
      <dict>
        <key>frame</key>
        <string>{{1010,422},{115,137}}</string>
        <key>offset</key>
        <string>{-4,-0.5}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{2,1},{115,137}}</string>
        <key>sourceSize</key>
        <string>{127,138}</string>
      </dict>
      <key>anim_bat_fly_2.png</key>
      <dict>
        <key>frame</key>
        <string>{{968,559},{136,98}}</string>
        <key>offset</key>
        <string>{6.5,1}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{17,9},{136,98}}</string>
        <key>sourceSize</key>
        <string>{157,118}</string>
      </dict>
      <key>anim_bat_fly_0.png</key>
      <dict>
        <key>frame</key>
        <string>{{387,1049},{135,83}}</string>
        <key>offset</key>
        <string>{7,2.5}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{18,15},{135,83}}</string>
        <key>sourceSize</key>
        <string>{157,118}</string>
      </dict>
      <key>anim_piranhaplant_idle_6.png</key>
      <dict>
        <key>frame</key>
        <string>{{914,657},{117,135}}</string>
        <key>offset</key>
        <string>{-4,-1.5}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{1,3},{117,135}}</string>
        <key>sourceSize</key>
        <string>{127,138}</string>
      </dict>
      <key>anim_piranhaplant_idle_2.png</key>
      <dict>
        <key>frame</key>
        <string>{{941,964},{118,135}}</string>
        <key>offset</key>
        <string>{-3.5,-1.5}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{1,3},{118,135}}</string>
        <key>sourceSize</key>
        <string>{127,138}</string>
      </dict>
      <key>anim_piranhaplant_idle_7.png</key>
      <dict>
        <key>frame</key>
        <string>{{968,792},{120,133}}</string>
        <key>offset</key>
        <string>{-3.5,-2.5}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,5},{120,133}}</string>
        <key>sourceSize</key>
        <string>{127,138}</string>
      </dict>
      <key>anim_piranhaplant_idle_1.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,1143},{120,133}}</string>
        <key>offset</key>
        <string>{-3.5,-2.5}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,5},{120,133}}</string>
        <key>sourceSize</key>
        <string>{127,138}</string>
      </dict>
      <key>anim_piranhaplant_idle_0.png</key>
      <dict>
        <key>frame</key>
        <string>{{120,1143},{120,131}}</string>
        <key>offset</key>
        <string>{-2.5,-3.5}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{1,7},{120,131}}</string>
        <key>sourceSize</key>
        <string>{127,138}</string>
      </dict>
      <key>Trampoline.png</key>
      <dict>
        <key>frame</key>
        <string>{{815,557},{128,66}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,31},{128,66}}</string>
        <key>sourceSize</key>
        <string>{128,128}</string>
      </dict>
      <key>shieldvfx.png</key>
      <dict>
        <key>frame</key>
        <string>{{240,1132},{128,128}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{128,128}}</string>
        <key>sourceSize</key>
        <string>{128,128}</string>
      </dict>
      <key>Box.png</key>
      <dict>
        <key>frame</key>
        <string>{{368,1132},{128,97}}</string>
        <key>offset</key>
        <string>{0,-3.5}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,19},{128,97}}</string>
        <key>sourceSize</key>
        <string>{128,128}</string>
      </dict>
      <key>Glow.png</key>
      <dict>
        <key>frame</key>
        <string>{{496,1132},{128,128}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{128,128}}</string>
        <key>sourceSize</key>
        <string>{128,128}</string>
      </dict>
      <key>Saw.png</key>
      <dict>
        <key>frame</key>
        <string>{{624,1116},{126,115}}</string>
        <key>offset</key>
        <string>{0,0.5}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{1,6},{126,115}}</string>
        <key>sourceSize</key>
        <string>{128,128}</string>
      </dict>
      <key>Stone.png</key>
      <dict>
        <key>frame</key>
        <string>{{368,1229},{124,29}}</string>
        <key>offset</key>
        <string>{0,2.5}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{2,47},{124,29}}</string>
        <key>sourceSize</key>
        <string>{128,128}</string>
      </dict>
      <key>Melon.png</key>
      <dict>
        <key>frame</key>
        <string>{{1031,657},{102,122}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{13,3},{102,122}}</string>
        <key>sourceSize</key>
        <string>{128,128}</string>
      </dict>
      <key>Ananas.png</key>
      <dict>
        <key>frame</key>
        <string>{{1059,925},{70,121}}</string>
        <key>offset</key>
        <string>{0,0.5}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{29,3},{70,121}}</string>
        <key>sourceSize</key>
        <string>{128,128}</string>
      </dict>
      <key>Coin.png</key>
      <dict>
        <key>frame</key>
        <string>{{743,401},{64,52}}</string>
        <key>offset</key>
        <string>{0,4}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{32,34},{64,52}}</string>
        <key>sourceSize</key>
        <string>{128,128}</string>
      </dict>
      <key>rock.png</key>
      <dict>
        <key>frame</key>
        <string>{{214,760},{47,57}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{47,57}}</string>
        <key>sourceSize</key>
        <string>{47,57}</string>
      </dict>
      <key>anim_bat_fly_3.png</key>
      <dict>
        <key>frame</key>
        <string>{{387,960},{147,89}}</string>
        <key>offset</key>
        <string>{1,-10.5}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{6,25},{147,89}}</string>
        <key>sourceSize</key>
        <string>{157,118}</string>
      </dict>
    </dict>
    <key>metadata</key>
    <dict>
      <key>format</key>
      <integer>2</integer>
      <key>pixelFormat</key>
      <string>RGBA8888</string>
      <key>premultiplyAlpha</key>
      <false/>
      <key>realTextureFileName</key>
      <string>skin1_ingame.png</string>
      <key>size</key>
      <string>{1146,1276}</string>
      <key>textureFileName</key>
      <string>skin1_ingame</string>
    </dict>
  </dict>
</plist>
